.input{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    row-gap: 10px;
    /* align-items: flex-start; */
    font-size: 20px;
}
input{
    height: 25px;
    font-size: 20px;
}
.exp{
    /* width: 100;
    display: block; */
    display: flex;
    flex-direction: column;
}

.amo{
    /* font-size: 20px; */
    display: flex;
    flex-direction: column;
    
}

button{
    height: 5vh;
    background-color: rgba(0, 140, 255, 0.942);
    font-size: 20px;
}