.red{
    background-color: red;
}
.green{
    background-color: green;
}

li{
    height: 5vh;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px;
    gap: 20px;
    margin: 10px 0;
}
span{
    padding-left: 0px;
}